/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/


.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-style: normal;
}

body {
    background: linear-gradient(to bottom, #E4E4E4, #CBCBCB);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #000000;
    font-family: "Outfit", sans-serif;
    padding: 1.5rem 3rem;
}

a {
    color: #000000;
    text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

/* DESKTOP NAVBAR */
.navbar {
    align-items: center;
    background: #000000;
    border-radius: 4rem;
    display: flex;
    justify-content: space-between;
    left: 50%;
    padding: 1rem 3.5rem;
    position: fixed;
    top: 3rem;
    transform: translateX(-50%);
    width: 95%;
    z-index: 1000;
}

.navbar-brand {
    color: #FFFFFF;
    font-size: 2rem;
}

.nav-right {
    background: #B9FE66;
    border-radius: 4rem;
    display: flex;
    padding: 0.4rem 0.5rem;
}

.nav-menu {
    display: flex;
}

.nav-link {
    border-radius: 4rem;
    font-size: 1.5rem;
    padding: 1.25rem 6rem;
    transition: all 0.4s ease-in-out;
}

.nav-link.active {
    background: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* MOBILE NAVBAR */
.hamburger {
    display: none;
}

.mobile-menu {
    display: none;
}

.navbar svg {
    fill: #FFFFFF;
    width: 5rem;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* DESKTOP */
@media screen and (max-width: 1920px) {
    html {
        font-size: 90%;
    }

    /* DESKTOP NAVBAR */
    .navbar {
        padding: 0.75rem 4.5rem;
        top: 2.5rem;
        width: 93.5%;
    }

    .nav-link {
        padding: 1rem 5.5rem;
    }
}

/* LARGE LAPTOP */
@media screen and (max-width: 1366px) {
    html {
        font-size: 85%;
    }

}

@media screen and (max-width: 500px) {
    body {
        padding: 5rem;
    }
}