/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/


.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-style: normal;
}

body {
    background: linear-gradient(to bottom, #E4E4E4, #CBCBCB);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #000000;
    font-family: "Outfit", sans-serif;
    padding: 1.5rem 5.5rem;
}

a {
    color: #000000;
    text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

/* DESKTOP NAVBAR */
.navbar {
    align-items: center;
    background: #000000;
    border-radius: 4rem;
    display: flex;
    justify-content: space-between;
    left: 50%;
    padding: 1rem 3.5rem;
    position: fixed;
    top: 3rem;
    transform: translateX(-50%);
    width: 95%;
    z-index: 1000;
}

.navbar-brand {
    color: #FFFFFF;
    font-size: 2rem;
}

.nav-right {
    background: #B9FE66;
    border-radius: 4rem;
    display: flex;
    padding: 0.4rem 0.5rem;
}

.nav-menu {
    display: flex;
}

.nav-link {
    border-radius: 4rem;
    font-size: 1.5rem;
    padding: 1.25rem 6rem;
    transition: all 0.4s ease-in-out;
}

.nav-link.active {
    background: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* MOBILE NAVBAR */
.hamburger {
    align-items: flex-end;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    flex-direction: column;
    gap: 0.45rem;
}

.hamburger-line {
    background: #000000;
    height: 0.25rem;
    transition: all 0.3s ease;
    transform-origin: center;
    width: 3rem;
}

.hamburger-line:nth-child(2) {
    width: 2.25rem;
}

.hamburger.active {
    align-items: center;
}

.hamburger.active .hamburger-line:nth-child(1) {
    transform: rotate(45deg) translateY(0.625rem) translateX(0.4rem);
}

.hamburger.active .hamburger-line:nth-child(2) {
    opacity: 0;
}

.hamburger.active .hamburger-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-0.625rem) translateX(0.4rem);
}

.mobile-menu-overlay {
    background: #00000084;
    display: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}

.mobile-menu-overlay.active {
    display: block;
}

.mobile-menu {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    height: 100vh;
    padding: 3.75rem 3rem 0 3rem;
    position: fixed;
    right: -100%;
    top: 0;
    transition: right 0.5s ease;
    width: 70%;
    z-index: 1002;
}

.mobile-menu.active {
    right: 0;
}

.mobile-nav-brand {
    align-items: center;
    border-bottom: 0.05rem solid #d6d6d6;
    display: flex;
    gap: 1.25rem;
    justify-content: flex-start;
    margin-bottom: 0.25rem;
    padding-bottom: 1.75rem;
}

.mobile-nav-brand img {
    width: 6rem;
}

.mobile-nav-brand a {
    color: #878A99;
    font-size: 4.5rem;
    font-weight: 500;
}

.mobile-nav-item {
    align-items: center;
    display: flex;
    gap: 1.25rem;
}

.mobile-nav-item svg {
    width: 4.5rem;
}

.mobile-nav-item a {
    color: #878A99;
    font-size: 3.5rem;
}



/* DASHBOARD */
.dashboard {
    padding: 11.75rem 0;
}

h1 {
    font-size: 8.75rem;
    font-weight: 400;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* DESKTOP */
@media screen and (max-width: 1920px) {
    html {
        font-size: 90%;
    }

    /* DESKTOP NAVBAR */
    .navbar {
        padding: 0.75rem 4.5rem;
        top: 2.5rem;
        width: 93.5%;
    }

    .nav-link {
        padding: 1rem 5.5rem;
    }
}

/* LARGE LAPTOP */
@media screen and (max-width: 1366px) {
    html {
        font-size: 70%;
    }

}

/* SMALL LAPTOP */
@media screen and (max-width: 1280px) {
    html {
        font-size: 60%;
    }

    .navbar {
        width: 91%;
    }
}

/* TABLET */
@media screen and (max-width: 768px) {
    html {
        font-size: 52.5%;
    }

    .navbar {
        top: 3.75rem;
        width: 88%;
    }
}

/* PHONE */
@media screen and (max-width: 500px) {
    html {
        font-size: 42.5%;
    }

    body {
        padding: 5rem;
    }

    .navbar {
        padding: 0.75rem 1.5rem 0.75rem 3.75rem;
    }

    .nav-right {
        padding: 1.25rem 0.75rem;
    }

    .nav-menu {
        display: none;
    }

    .hamburger {
        display: flex;
    }
}